:root{
--base-color:rgba(242, 223, 182, 1);
--text-color:rgb(62, 49, 18);
--navbar-color:rgb(215, 177, 107);
--theme-button-color:rgba(114, 64, 7, 0.503);
--theme-button-icon-color:rgba(246, 202, 6, 0.788);
--theme-button-icon-color-hover: rgb(233, 213, 124);
--about-button-color:rgba(114, 64, 7, 0.503);
--about-button-color-hover:rgba(153, 102, 43, 0.503);
}

.darkmode{
--base-color:lab(16.18% 0.22 0.82 / 0.801);
--text-color:rgb(255, 255, 255);
--navbar-color:#474747;
--theme-button-color:#1c1c1c;
--theme-button-icon-colo: rgb(233, 213, 124);
--theme-button-icon-color-hover: rgb(233, 213, 124);
--about-button-color:#1c1c1c;
--about-button-color-hover:rgba(31, 31, 31, 0.503);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--base-color);
  background-color: #e5e5f7;
  background-image:  linear-gradient(#e1cdb4 2px, transparent 2px), linear-gradient(to right, #e1cdb4 2px, #e5e5f7 2px);
  background-size: 40px 40px;
}

.darkmode{
  background-color: var(--base-color);
  opacity: 1;
  background-image:  linear-gradient(#1c1c1c 2px, transparent 2px), linear-gradient(to right, #1c1c1c 2px, #343433 2px);
  background-size: 40px 40px;
}

.navbar{
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-color)!important; 
  padding:5px;
  box-shadow: 0 30px 20px 0 rgba(155, 128, 63, 0.637);
  border-radius: 0 0 10px 10px;
}

.darkmode .navbar{
    box-shadow: 0 30px 20px 0 rgba(26, 25, 25, 0.637);
}

#container-fluid {
  background-color: var(--navbar-color)!important; 
  display: flex;
  align-items:center ;  
  gap: 15px;             
}

#Navbar-Button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto; 
}

#logo{
  gap: 15px;
  padding: 10px;
}

.text-style{
  margin: 0;
  font-size: 18px; 
  font-family:monospace;
  color:var(--text-color);
}

.darkmode .text-style{
  margin: 0;
  font-size: 18px; 
  font-family:monospace;
  color:var(--text-color);
}

/* Butonul de schimbare a temei + animatia de hover a acestuia */
#Theme-Button{
  height: 50px;
  width: 50px;
  background-color: var(--theme-button-color);
  border-radius: 45%;
  padding: 0;
  justify-content: center;
  border: none;
  display: flex;
  align-items: center;
}

/* lightmode */
#Theme-Button svg{
  fill: var(--theme-button-icon-color);
}
#Theme-Button svg:last-child{
  display: none;
}
#Theme-Button svg:hover{
  fill: var(--theme-button-icon-color-hover);
}

/* darkmode */
.darkmode #Theme-Button svg:first-child{
  display: none;
}
.darkmode #Theme-Button svg:last-child{
  display:block;
}
.darkmode #Travel-diary-label{
  color: var(--text-color);
}
.darkmode p{
  color: var(--text-color);
}

/* Butonul about + animatia de hover a acestuia */
#About-Button{
  height: 20px;
  width: 60px;
  background-color: var(--about-button-color);
  border-radius: 24%;
  justify-content: center;
  border: none;
  display:flex;
  align-items: center;
  font-family:monospace;
  color: var(--text-color); 
}
#right-buttons{
  align-items: center;
  gap: 10px;
}
#left-buttons{
  gap: 10px;
}

/* lightmode */
#About-Button:hover{
  background-color: var(--about-button-color-hover);
}

/* darkmode */
.darkmode #About-Button:hover{
  background-color: var(--about-button-color-hover);
}
.darkmode #About-Button{
  color: var(--text-color);
}
