:root{

--base-color:rgba(242, 223, 182, 0.952);
--text-color:black;
--navbar-color:rgb(220, 190, 135);
--theme-button-color:rgba(114, 64, 7, 0.503);
--theme-button-icon-color:rgba(246, 202, 6, 0.788);
--theme-button-icon-color-hover: rgb(233, 213, 124);
--about-button-color:rgba(114, 64, 7, 0.503);
--about-button-color-hover:rgba(153, 102, 43, 0.503);
}

.darkmode{
  --base-color:lab(18.39% 2.19 19.45 / 0.801);
--text-color:rgb(255, 255, 255);
--navbar-color:rgba(164, 133, 74, 0.736);
--theme-button-color:rgba(114, 64, 7, 0.503);
--theme-button-icon-color: rgb(233, 213, 124);
--about-button-color:rgba(114, 64, 7, 0.503);
--about-button-color-hover:rgba(153, 102, 43, 0.503);
}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
  background-color: var(--base-color)!important;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-color)!important; 
    padding:5px;
    box-shadow: 0 20px 20px 0 rgba(109, 75, 43, 0.637);
    border-radius: 0 0 10px 10px;
}
#container-fluid {
  background-color: var(--navbar-color)!important; 
  display: flex;
  align-items:end ;  
  gap: 15px;      
  
         
}
#Navbar-Button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto; 
}
#logo{
  gap: 10px;
}

/* Butonul de schimbare a temei + animatia de hover a acestuia */
#Theme-Button{
  height: 50px;
  width: 50px;
  background-color: var(--theme-button-color);
  border-radius: 45%;
  padding: 0;
   justify-content: center;
   border: none;
   display: flex;
   align-items: center;
}
/* lightmode */
#Theme-Button svg{
fill: var(--theme-button-icon-color);
}
#Theme-Button svg:last-child{
  display: none;
}
#Theme-Button svg:hover{
fill: var(--theme-button-icon-color-hover);
}
/* darkmode */
.darkmode #Theme-Button svg:first-child{
  display: none;
}
.darkmode #Theme-Button svg:last-child{
  display:block;
}
.darkmode #Travel-diary-label{
  color: var(--text-color);
}
.darkmode p{
    color: var(--text-color);

}
/* Butonul about + animatia de hover a acestuia */
#About-Button{
  height: 20px;
  width: 60px;
  background-color: var(--about-button-color);
  border-radius: 24%;
  justify-content: center;
  border: none;
  display:flex;
  align-items: center;
  font-family:monospace;
  
}
#right-buttons{
  align-items: center;
  gap: 10px;
}
/* lightmode */
#About-Button:hover{
background-color: var(--about-button-color-hover);
}
/* darkmode */
.darkmode #About-Button:hover{
background-color: var(--about-button-color-hover);
}
.darkmode #About-Button{
  color: var(--text-color);
}
